---
import Layout from "../components/layout/layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <!-- hero -->
  <div
    class="hero h-screen relative"
    style="background-image: url('/public/hero-about.png');"
  >
    <div class="section-padding relative z-10">
      <div class="text-center max-w-5xl mx-auto">
        <h1
          class="font-poppins mb-5 heroHeadText font-normal bg-raisinblack bg-gradient-to-br from-white tracking-[-2px] bg-clip-text text-transparent"
        >
          Software Solutions that Lead the Way
        </h1>
        <p class="text-silver font-normal sectionLargeText mb-14">
          In a rapidly changing world, our software solutions keep you ahead of
          the curve.
        </p>

        <a href="" class="btn-davygray items-center sectionSemiLargeText">
          <span>How It Works</span>
          <i class="fa-solid fa-arrow-right-long ml-2"></i>
        </a>
      </div>
      <a
        href=""
        class="absolute left-5 sm:bottom-10 flex flex-col items-center sectionMediumText bg-davygray bg-gradient-to-br from-white bg-clip-text text-transparent"
      >
        <div
          class="mb-2"
          style="writing-mode: vertical-lr; text-orientation:mixed "
        >
          Scroll Down
        </div>

        <div
          class="animate-bounce duration-1000 mt-4 text-[16px] md:text-[20px]"
        >
          <i class="fa-solid fa-computer-mouse text-seasalt"></i>
        </div>
      </a>
    </div>
  </div>
  <!-- hero -->

  <!-- section one -->
  <section class="section-padding">
    <div class="grid lg:grid-cols-2">
      <div class="block lg:mb-0 mb-4">
        <p class="sectionLargeText text-davyGray font-robot">Our Vision</p>
        <h2
          class="sectionHeadText font-semibold font-poppins text-night-foreground"
        >
          Lorem ipsum
        </h2>
        <p
          class="sectionMediumText text-accent font-robot font-normal"
        >
          In a rapidly evolving digital landscape, EXP Group is at the forefront
          of technological advancement. We are committed to building the future
          by writing robust and scalable code that powers the next generation of
          software.
        </p>
      </div>
      <div class="block">
        <p
          class="sectionLargeText text-davyGray font-robot my-3 lg:my-0 lg:mb-4"
        >
          Our Mission
        </p>

        <div class="flex gap-4">
          <div
            class="relative block bg-night w-full max-w-sm rounded-lg px-6 py-6"
          >
            <div class="grid font-robot">
              <p class="sectionLargeText text-seasalt font-poppins font-medium">
                1
              </p>
              <p class="sectionSmallText text-accent">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
                ea, voluptatum quasi, dolorum vitae sunt esse et, mollitia ipsam
                perspiciatis ad. Illo sunt error quas adipisci placeat
                consequatur aliquam enim.
              </p>
            </div>
            <div class="">
              <img
                src="/small-bubble.png"
                class="absolute top-[80px] left-[64px] w-[30px]"
                alt=""
              />
              <img
                src="/big-bubble.png"
                class="absolute top-0 -left-[24px] w-[100px]"
                alt=""
              />
            </div>
          </div>
          <div
            class="relative block bg-night w-full max-w-sm rounded-lg px-6 py-6"
          >
            <div class="grid font-robot">
              <p class="sectionLargeText text-seasalt font-poppins font-medium">
                1
              </p>
              <p class="sectionSmallText text-accent">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro
                ea, voluptatum quasi, dolorum vitae sunt esse et, mollitia ipsam
                perspiciatis ad. Illo sunt error quas adipisci placeat
                consequatur aliquam enim.
              </p>
            </div>
            <div class="">
              <img
                src="/small-bubble.png"
                class="absolute top-[80px] left-[64px] w-[30px]"
                alt=""
              />
              <img
                src="/big-bubble.png"
                class="absolute top-0 -left-[24px] w-[100px]"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section one -->

  <!-- section two -->
  <div class="bg-night">
    <section class="section-padding">
      <div class="block">
        <h2
          class="sectionHeadText font-semibold font-poppins text-seaSalt text-center"
        >
          Our Tech Stack
        </h2>
      </div>

      <div class="flex flex-wrap justify-center gap-16 mt-8">
        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>

        <div class="block border-davyGray border-[1px] px-8 py-6 rounded-xl">
          <i class="fa-brands fa-html5 text-silver heroHeadText"></i>
        </div>
      </div>
    </section>
  </div>
  <!-- section two -->

  <!-- section three -->
  <section class="section-padding">
    <div class="block">
      <h2
        class="sectionHeadText font-semibold font-poppins text-night-foreground"
      >
        Meet our teams
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-8 gap-6">
      <div
        class="w-full h-64 flex items-center justify-center overflow-hidden md:col-span-2"
      >
        <img
          src="/image-contact.png"
          alt="Image 1"
          class="object-cover w-full h-full"
        />
      </div>
      <div class="w-full h-64 flex items-center justify-center overflow-hidden">
        <img
          src="/hero-contact.png"
          alt="Image 2"
          class="object-cover w-full h-full"
        />
      </div>
      <div class="w-full h-64 flex items-center justify-center overflow-hidden">
        <img
          src="/image-contact.png"
          alt="Image 4"
          class="object-cover w-full h-full"
        />
      </div>
      <div
        class="w-full h-64 flex items-center justify-center overflow-hidden md:col-span-2"
      >
        <img
          src="/image-contact.png"
          alt="Image 3"
          class="object-cover w-full h-full"
        />
      </div>
      <!-- Tambahkan lebih banyak kolom gambar jika diperlukan -->
    </div>
  </section>
  <!-- section three -->
</Layout>
