---
import Layout from "../components/layout/layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <!-- hero -->
  <section>
    <div
      class="hero h-[70vh] relative"
      style="background-image: url('/public/hero-contact.png');"
    >
      <div class="section-padding relative z-10">
        <div class="text-center max-w-5xl mx-auto">
          <h1
            class="font-poppins mb-2 heroHeadText2 font-normal text-seasalt tracking-[-2px]"
          >
            Get in Touch with Us
          </h1>
          <p class="text-silver font-normal sectionLargeText">
            Our works reflect our passion for innovation and quality.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- hero -->

  <!-- section-one -->
  <section class="section-padding">
    <div class="relative flex flex-col gap-12 md:flex-row">
      <div class="w-full md:w-1/2">
        <div class="block">
          <h3
            class="font-poppins font-semibold sectionHeadText text-raisinblack md:text-[44px]"
          >
            We’re Here to Help
          </h3>
          <p class="sectionSemiLargeText text-accent">
            Our team is ready to assist you with any inquiries or support you
            might need. Reach out to us, and we'll ensure you get the answers
            and guidance you're looking for.
          </p>

          <a target="_blank" href="mailto:expdigitalsolution@gmail.com">
            <div class="block mt-4 mb-4">
              <div class="flex gap-4 items-center text-davygray mb-4">
                <i class="fa-solid fa-envelope sectionSemiLargeText"></i>
                <p class="underline sectionSemiLargeText">
                  expdigitalsolution@gmail.com
                </p>
              </div>
            </div>

            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=6285942965516&text=Halo%20Tim%20Exp%20Digital%20Solution,%0A%0ASaya%20ingin%20membuat%20website%20untuk%20usaha%20saya%20dan%20mencari%20bantuan%20profesional.%20Apakah%20Anda%20dapat%20membantu%20saya%20dalam%20proyek%20ini?%0A%0ATerima%20kasih%20atas%20perhatian%20Anda."
            >
              <div class="flex gap-4 items-center text-davygray">
                <i class="fa-brands fa-whatsapp sectionSemiLargeText"></i>
                <p class="underline sectionSemiLargeText">+62 859-4296-5516</p>
              </div>
            </a>
          </a>

          <div class="block mt-6">
            <Button variant="outline" className="outline sectionSemiLargeText"
              >Get Started</Button
            >
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 -order-1 md:order-[0]">
        <div
          class="relative mb-5 md:mb-0"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <img
            src="/image-contact.png"
            alt=""
            class="z-1 w-auto max-w-full rounded-lg"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- section-one -->
</Layout>
