---
import { Button } from "@/components/ui/button"
import Layout from "../components/layout/layout.astro"
---

<Layout>
	<div class="block">

		ini dari halaman home
	</div>
	<Button>Button SOlid</Button>
	<Button variant="outline">Button Outline</Button>
</Layout>