---
import Layout from "../components/layout/layout.astro";
import { Button } from "../components/ui/button.tsx";
---

<Layout>
  <!-- hero -->
  <div
    class="min-h-screen w-full flex items-center justify-center bg-cover bg-center"
    style="background-image: url('/hero-service.png');"
  >
    <div
      class="relative px-6 py-10 mx-auto text-white sm:px-16 sm:py-20 max-w-7xl text-center"
    >
      <div class="hero-content">
        <h1
          class="mb-2 text-white font-poppins font-normal"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          Transforming Ideas into Reality
        </h1>
        <p
          class="mb-6 font-normal font-robot md:mb-10 sm:mb-8 sectionLargeText text-silver"
          data-aos="fade-up"
          data-aos-duration="1500"
        >
          Our experts turn your vision into impactful software solutions.
        </p>
      </div>
    </div>
  </div>
  <!-- hero -->

  <!-- section one -->
  <section class="section-padding">
    <div class="block mt-[88px]">
      <div
        class="relative flex flex-col lg:gap-[78px] gap-[42px] lg:flex-row items-center"
      >
        <div class="w-full lg:w-1/2 -order-1 lg:order-[0]">
          <div class="h-[450px]">
            <div
              class="relative mb-5 md:mb-0 rounded-3xl h-[450px]"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <img
                src="/image-contact.png"
                alt=""
                class="z-1 w-0 h-0 min-w-full max-w-full min-h-full max-h-full object-cover rounded-3xl"
              />
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="flex gap-4 items-center">
            <i
              class="fa-solid fa-computer sectionHeadText md:text-[36px] text-night-foreground"
            ></i>
            <h3
              class="font-poppins font-semibold sectionHeadText md:text-[36px] text-night-foreground"
            >
              Website Development
            </h3>
          </div>
          <div class="block mt-4 mb-4 font-robot">
            <p class="sectionMediumText text-silver-foreground">
              We build websites that are not only visually stunning but also
              fully functional to support your business success. At EXP Group
              Digital Solution, we believe every website is a digital
              representation of your brand. Using a user-centric approach and
              the latest technology, we design websites that are fast,
              responsive, and secure.
            </p>
          </div>

          <div class="block ml-8 font-robot">
            <ul class="font-bold text-davyGray list-disc sectionSemiLargeText">
              <li>
                Responsive Design: Your website will look great on all devices.
              </li>
              <li>
                SEO Optimized: We ensure your website is easy to find by
                potential customers on search engines.
              </li>
              <li>
                Optimal User Experience: Every element is crafted to provide a
                seamless and satisfying user experience.
              </li>
              <li>
                Top-Notch Security: Your data is safe with high-level security
                protocols.
              </li>
              <li>
                Maintenance & Support: We offer ongoing support and maintenance
                to keep your website performing at its best.
              </li>
            </ul>
          </div>

          <div class="block mt-8">
            <Button variant={"outline"} className="outline sectionSemiLargeText"
              >Know More</Button
            >
          </div>
        </div>
      </div>
    </div>

    <div class="block mt-[88px]">
      <div
        class="relative flex flex-col lg:gap-[78px] gap-[42px] lg:flex-row items-center"
      >
        <div class="w-full lg:w-1/2">
          <div class="flex gap-4 items-center">
            <i
              class="fa-solid fa-computer sectionHeadText md:text-[36px] text-night-foreground"
            ></i>
            <h3
              class="font-poppins font-semibold sectionHeadText md:text-[36px] text-night-foreground"
            >
              UI / UX Design
            </h3>
          </div>
          <div class="block mt-4 mb-4 font-robot">
            <p class="sectionMediumText text-silver-foreground">
              We craft intuitive and engaging digital experiences through
              user-focused UI/UX design. At EXP Group Digital Solution, we
              combine art and technology to ensure that users’ interactions with
              your digital product are smooth and satisfying. Every design we
              create is not only visually appealing but also optimized for
              performance and functionality.
            </p>
          </div>

          <div class="block ml-8 font-robot">
            <ul class="font-bold text-davyGray list-disc sectionSemiLargeText">
              <li>
                User-Centric Approach: We design with a focus on user needs and
                behavior.
              </li>
              <li>
                Visually Impressive: Aesthetic and modern visuals that captivate
                users from the first glance.
              </li>
              <li>
                Seamless Interactions: Ensuring an intuitive and easy-to-use
                user experience across all devices.
              </li>
              <li>
                Research-Driven Design: Every design decision is backed by
                thorough research to ensure effectiveness.
              </li>
              <li>
                Prototyping & Testing: We provide prototypes and testing to
                ensure the design works as expected.
              </li>
            </ul>
          </div>

          <div class="block mt-8">
            <Button variant={"outline"} className="outline sectionSemiLargeText"
              >Know More</Button
            >
          </div>
        </div>

        <div class="w-full lg:w-1/2 -order-1 lg:order-[0]">
          <div class="h-[450px]">
            <div
              class="relative mb-5 md:mb-0 rounded-3xl h-[450px]"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <img
                src="/image-contact.png"
                alt=""
                class="z-1 w-0 h-0 min-w-full max-w-full min-h-full max-h-full object-cover rounded-3xl"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block mt-[88px]">
      <div
        class="relative flex flex-col lg:gap-[78px] gap-[42px] lg:flex-row items-center"
      >
        <div class="w-full lg:w-1/2 -order-1 lg:order-[0]">
          <div class="h-[450px]">
            <div
              class="relative mb-5 md:mb-0 rounded-3xl h-[450px]"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <img
                src="/image-contact.png"
                alt=""
                class="z-1 w-0 h-0 min-w-full max-w-full min-h-full max-h-full object-cover rounded-3xl"
              />
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <div class="flex gap-4 items-center">
            <i
              class="fa-solid fa-computer sectionHeadText md:text-[36px] text-night-foreground"
            ></i>
            <h3
              class="font-poppins font-semibold sectionHeadText md:text-[36px] text-night-foreground"
            >
              Social Media Management
            </h3>
          </div>
          <div class="block mt-4 mb-4 font-robot">
            <p class="sectionMediumText text-silver-foreground">
              Maximize your brand's online presence with our expert social media
              management services. At EXP Group Digital Solution, we develop
              tailored strategies to grow your audience, boost engagement, and
              drive results. From content creation to analytics, we handle
              everything so you can focus on your business.
            </p>
          </div>

          <div class="block ml-8 font-robot">
            <ul class="font-bold text-davyGray list-disc sectionSemiLargeText">
              <li>
                Tailored Strategy: We create customized plans that align with
                your brand's goals.
              </li>
              <li>
                Consistent Branding: Maintain a cohesive brand image across all
                platforms.
              </li>
              <li>
                Engagement Growth: We help build active and engaged communities
                around your brand.
              </li>
              <li>
                Data-Driven Approach: We track performance and optimize
                campaigns for the best results.
              </li>
              <li>
                Content Creation & Scheduling: High-quality content delivered
                consistently to keep your audience engaged.
              </li>
            </ul>
          </div>

          <div class="block mt-8">
            <Button variant={"outline"} className="outline sectionSemiLargeText"
              >Know More</Button
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section one -->
</Layout>
