---
import Layout from "../components/layout/layout.astro";
import { Button } from "../components/ui/button.tsx";
---

<Layout>
  <!-- hero -->
  <section>
    <div
      class="hero h-[70vh] relative"
      style="background-image: url('/public/hero-service.png');"
    >
      <div class="section-padding relative z-10">
        <div class="text-center max-w-5xl mx-auto">
          <h1
            class="font-poppins mb-2 heroHeadText2 font-normal text-seasalt tracking-[-2px]"
          >
            Transforming Ideas into Reality
          </h1>
          <p class="text-silver font-normal sectionLargeText">
            Our experts turn your vision into impactful software solutions.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- hero -->

  <!-- section one -->
  <div class="relative">
    <section class="section-padding">
      <div class="grid grid-cols-1 gap-16 lg:gap-32 items-center">
        <div
          class="grid lg:grid-cols-2 gap-3 md:gap-6 items-center mt-10 md:mt-16 lg:mt-20"
        >
          <div class="image justify-start flex">
            <img
              src="/public/project-img.png"
              class="w-full lg:w-[85%] text-end object-cover h-[284px] md:h-[640px] lg:h-[450px] rounded-3xl"
              alt=""
            />
          </div>
          <div class="text">
            <div class="flex gap-6 items-center">
              <h3>
                <i class="fa-solid fa-computer text-night-foreground"></i>
              </h3>
              <h3 class="my-1 font-semibold font-poppins text-night">
                Elite Rent Car
              </h3>
            </div>
            <p class="text-accent sectionMediumText font-robot font-light">
              We create dynamic, responsive websites that are tailored to your
              business goals. From concept to launch, our development process
              ensures your website not only looks great but also delivers
              exceptional performance.
            </p>
            <div class="block mt-4">
              <ul class="ml-8">
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
              </ul>
            </div>
            <div class="mt-8 lg:mt-12">
              <a
                href=""
                class="btn-outline-davygray items-center sectionMediumText"
              >
                Know More
              </a>
            </div>
          </div>
          <div class="-z-[0] absolute -left-[10rem] top-[8rem]">
            <img src="/splash.png" class="w-[30%]" alt="" />
          </div>
        </div>

        <div class="relative">
        <div class="grid lg:grid-cols-2 gap-6 md:gap-10 items-center">
          <div class="text lg:order-first order-last">
            <div class="flex gap-6 items-center">
              <h3>
                <i class="fa-solid fa-computer text-night-foreground"></i>
              </h3>
              <h3 class="my-1 font-semibold font-poppins text-night">
                Elite Rent Car
              </h3>
            </div>
            <p class="text-accent sectionMediumText font-robot font-light">
              We create dynamic, responsive websites that are tailored to your
              business goals. From concept to launch, our development process
              ensures your website not only looks great but also delivers
              exceptional performance.
            </p>
            <div class="block mt-4">
              <ul class="ml-8">
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
              </ul>
            </div>
            <div class="mt-8 lg:mt-12">
              <a
                href=""
                class="btn-outline-davygray items-center sectionMediumText"
              >
                Know More
              </a>
            </div>
          </div>
          <div class="image justify-end flex">
            <img
              src="/public/project-img.png"
              class="w-full lg:w-[85%] text-end object-cover h-[284px] md:h-[640px] lg:h-[450px] rounded-3xl"
              alt=""
            />
          </div>
        </div>
        <div class="-z-[0] absolute right-0 top-[8rem]">
          <img src="/splash.png" class="w-[30%] ml-auto" alt="" />
        </div>
      </div>


      <div class="relative">
        <div class="grid lg:grid-cols-2 gap-3 md:gap-6 items-center">
          <div class="image justify-start flex">
            <img
              src="/public/project-img.png"
              class="w-full lg:w-[85%] text-end object-cover h-[284px] sm:h-[640px] lg:h-[450px] rounded-3xl"
              alt=""
            />
          </div>
          <div class="text">
            <div class="flex gap-6 items-center">
              <h3>
                <i class="fa-solid fa-computer text-night-foreground"></i>
              </h3>
              <h3 class="my-1 font-semibold font-poppins text-night">
                Elite Rent Car
              </h3>
            </div>
            <p class="text-accent sectionMediumText font-robot font-light">
              We create dynamic, responsive websites that are tailored to your
              business goals. From concept to launch, our development process
              ensures your website not only looks great but also delivers
              exceptional performance.
            </p>
            <div class="block mt-4">
              <ul class="ml-8">
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
                <li
                  class="list-disc text-davygray sectionMediumText font-bold font-robot"
                >
                  Javascript
                </li>
              </ul>
            </div>
            <div class="mt-8 lg:mt-12">
              <a
                href=""
                class="btn-outline-davygray items-center sectionMediumText"
              >
                Know More
              </a>
            </div>
          </div>
        </div>
        <div class="-z-[0] absolute -left-[10rem] top-[8rem]">
          <img src="/splash.png" class="w-[30%]" alt="" />
        </div>
      </div>
      </div>
    </section>
  </div>

  <!-- section one -->
</Layout>
