<section class="relative z-10">
  <div class="section-padding">
   <div class="grid grid-cols-1 lg:grid-cols-2 gap-10" >
    <div class="image ">

      <img src="/public/about-img.png" alt="" class="lg:w-[70%] w-[90%]  mx-auto !z-10">
      <img src="/public/about-img-pattern.png" alt="" class="w-full lg:w-[45%] absolute left-0  -z-10 top-0">
    </div>
    <div class="text lg:mt-20">
      <h6 class="text-davygray sectionSecondaryText">ABOUT US</h6>
      <h1 class="my-1 font-semibold font-poppins  text-raisinblack">Building the Future of Technology, One Line of Code at a Time</h1>
      <p class="text-accent sectionMediumText ">In a rapidly evolving digital landscape, EXP Group is at the forefront of technological advancement. We are committed to building the future by writing robust and scalable code that powers the next generation of software. Our passion for technology drives us to continuously innovate, ensuring that our clients stay ahead in a competitive world.</p>
      <div class="mt-10">
        <a href="" class="btn-outline-davygray items-center sectionSemiLargeText">
          <span>How It Works</span>
          <i class="fa-solid fa-arrow-right-long ml-2"></i>
        </a>
      </div>
    </div>

   </div>
  </div>
</section>