<section class="bg-cover bg-center" style="background-image: url('/public/home-bg-facts.png');">
  <div class="section-padding">
    <div class="flex w-full flex-col lg:flex-row lg:justify-start justify-center items-start lg:items-center gap-6 lg:h-[30vh]">
      <div class="lg:basis-3/12 w-full">
        <div class="headline">
          <h6 class="text-silver sectionSecondaryText">EXPERIENCE</h6>
          <h1 class="my-1 font-semibold font-poppins  text-seasalt">Our Facts</h1>
        </div>
  
      </div>
      <div class="w-full lg:basis-9/12">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-10 lg:gap-6 text-seasalt ">
        <div class="card-facts">
          <div class="flex items-center gap-3 justify-start">
            <div class="w-14 h-14">
              <img src="/public/fact-icon (3).png" alt="" class="w-full">
            </div>
            <div class="h-10 bg-davygray px-[0.5px]"></div>
            <h4 class="text-seasalt font-bold">100+</h4> 
          </div>
          <p class="text-silver sectionMediumText mt-2">Client & Partner</p>
        </div>
        <div class="card-facts">
          <div class="flex items-center gap-3 justify-start">
            <div class="w-14 h-14">
              <img src="/public/fact-icon (4).png" alt="" class="w-full">
            </div>
            <div class="h-10 bg-davygray px-[0.5px]"></div>
            <h4 class="text-seasalt font-bold">16+</h4> 
          </div>
          <p class="text-silver sectionMediumText mt-2">Problem solved</p>
        </div>
        <div class="card-facts">
            <div class="flex items-center gap-3 justify-start">
              <div class="w-14 h-14">
                <img src="/public/fact-icon (1).png" alt="" class="w-full">
              </div>
            <div class="h-10 bg-davygray px-[0.5px]"></div>
            <h4 class="text-seasalt font-bold">7+</h4> 
          </div>
          <p class="text-silver sectionMediumText mt-2">Years Experience</p>
        </div>
        <div class="card-facts">
          <div class="flex items-center gap-3 justify-start">
            <div class="w-14 h-14">
              <img src="/public/fact-icon (2).png" alt="" class="w-full">
            </div>
            <div class="h-10 bg-davygray px-[0.5px]"></div>
            <h4 class="text-seasalt font-bold">10+</h4> 
          </div>
          <p class="text-silver sectionMediumText mt-2 ">Developers</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>