<div
  class="hero  h-screen relative"
  style="background-image: url('/public/bg-hero.png');">
  <div class="w-full absolute bottom-0 -z-2">
    <svg id="visual" viewBox="0 0 900 600"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 486L25 500.2C50 514.3 100 542.7 150 560.5C200 578.3 250 585.7 300 584.3C350 583 400 573 450 561.5C500 550 550 537 600 539.2C650 541.3 700 558.7 750 552.7C800 546.7 850 517.3 875 502.7L900 488L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z" fill="#ffffff" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
  </div>


<div class="section-padding relative z-10 -mt-20  ">
  <div class=" text-center max-w-5xl mx-auto">
      <h1 class="font-poppins mb-5 heroHeadText font-normal bg-raisinblack bg-gradient-to-br from-white tracking-[-2px]  bg-clip-text text-transparent">Transformative Technology 
        Solutions</h1>
        <p class="text-silver  font-normal sectionLargeText mb-14">Empowering your business with cutting-edge software that drives growth and efficiency.</p>

        <a href="" class="btn-davygray items-center sectionSemiLargeText ">
          <span>How It Works</span>
          <i class="fa-solid fa-arrow-right-long ml-2"></i>
        </a>
  </div>
  <a href="" class="absolute left-5 sm:bottom-10 flex flex-col items-center sectionMediumText bg-davygray bg-gradient-to-br from-white   bg-clip-text text-transparent">
    <div class="mb-2 " style="writing-mode: vertical-lr; text-orientation:mixed ">Scroll Down</div>

    <div class="animate-bounce  duration-1000 mt-4 text-[16px] md:text-[20px] ">  <i class="fa-solid fa-computer-mouse text-seasalt"></i></div>
  </a>
</div>
</div>



