<section class="items-start hero" style="background-image: url('/public/bg-project.png');">
  <div class="section-padding">
    <div class="headline">
      <h6 class="text-silver sectionSecondaryText">FEATURED PROJECT</h6>
      <h1 class="my-1 font-semibold font-poppins  text-seasalt">Showcase of Excellence</h1>
    </div>


<div class=" grid grid-cols-1 gap-10 lg:gap-20">
  <div class="grid lg:grid-cols-2 mt-10 md:mt-20 lg:mt-40 gap-6 md:gap-10">
    <div class="text lg:order-first order-last">  
      <h6 class="text-silver font-poppins">Website & Design</h6>
      <h3 class="my-1 font-semibold font-poppins  text-seasalt">Elite Rent Car </h3>
      <p class="text-accent sectionMediumText ">In a rapidly evolving digital landscape, EXP Group is at the forefront of technological advancement. We are committed to building the future by writing robust and scalable code that powers the next generation of software. Our passion for technology drives us to continuously innovate, ensuring that our clients stay ahead in a competitive world.</p>
      <div class=" mt-10 lg:mt-16">
        <a href="" class="btn-davygray items-center sectionSemiLargeText">
        Show More
        </a>
      </div>
    </div>
    <div class="image justify-end flex">
      <img src="/public/project-img.png" class="w-full lg:w-[85%] text-end" alt="">
    </div>
  </div>
  <div class="grid lg:grid-cols-2 mt-10 lg:mt-20 gap-3 md:gap-6">
    <div class="image justify-start flex">
      <img src="/public/project-img.png" class="w-full lg:w-[85%] text-end" alt="">
    </div>
    <div class="text">  
      <h6 class="text-silver font-poppins">Website & Design</h6>
      <h3 class="my-1 font-semibold font-poppins  text-seasalt">Tohjiwa Teknologi </h3>
      <p class="text-accent sectionMediumText ">In a rapidly evolving digital landscape, EXP Group is at the forefront of technological advancement. We are committed to building the future by writing robust and scalable code that powers the next generation of software. Our passion for technology drives us to continuously innovate, ensuring that our clients stay ahead in a competitive world.</p>
      <div class=" mt-10 lg:mt-16">
        <a href="" class="btn-davygray items-center sectionSemiLargeText">
        Show More
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-center py-6">
    <a href="" class="font-poppins text-seasalt sectionLargeText border-b-2 border-seasalt">Explore More</a>
  </div>
</div>
  </div>
</section>