<section
  class="items-start hero"
  style="background-image: url('/public/bg-project.png');"
>
  <div class="section-padding">
    <div class="headline">
      <h6 class="text-silver sectionSecondaryText">FEATURED PROJECT</h6>
      <h1 class="my-1 font-semibold font-poppins text-seasalt">
        Showcase of Excellence
      </h1>
    </div>

    <div class="grid grid-cols-1 gap-10 lg:gap-20">
      <div class="grid lg:grid-cols-2 mt-10 md:mt-20 lg:mt-40 gap-6 md:gap-10">
        <div class="text lg:order-first order-last">
          <h6 class="text-silver font-poppins">Website & Design</h6>
          <h3 class="my-1 font-semibold font-poppins text-seasalt">
            Elite Rent Car
          </h3>
          <p class="text-accent sectionMediumText">
            Elite rent Bali offers discerning travelers the opportunity to
            experience the island's stunning scenery and vibrant culture in
            style and comfort. Whether you're cruising along the coastline,
            exploring hidden gems in the countryside, or arriving at exclusive
            events, renting a luxury car adds an extra layer of sophistication
            to your journey.
          </p>
          <div class="mt-10 lg:mt-16">
            <a
              href="https://eliterentbali.com"
              class="btn-davygray items-center sectionSemiLargeText"
            >
              Show More
            </a>
          </div>
        </div>
        <div class="image justify-end flex">
          <img
            src="/public/elite-rent-bali.png"
            class="w-full lg:w-[85%] text-end"
            alt=""
          />
        </div>
      </div>
      <div class="grid lg:grid-cols-2 mt-10 lg:mt-20 gap-3 md:gap-6">
        <div class="image justify-start flex">
          <img
            src="/public/trip.png"
            class="w-full lg:w-[85%] text-end"
            alt=""
          />
        </div>
        <div class="text">
          <h6 class="text-silver font-poppins">Website & Design</h6>
          <h3 class="my-1 font-semibold font-poppins text-seasalt">
            Bali Classic Trip
          </h3>
          <p class="text-accent sectionMediumText">
            Bali Classic Trip is a Destination Management Company. We specialize
            in tailor-made, group, and corporate travel. We’re here to put
            people in touch with travel and not necessarily in the ways they
            might be used to.
          </p>
          <div class="mt-10 lg:mt-16">
            <a
              href="https://baliclassictrip.com/"
              class="btn-davygray items-center sectionSemiLargeText"
            >
              Show More
            </a>
          </div>
        </div>
      </div>
      <div class="flex justify-center py-6">
        <a
          href=""
          class="font-poppins text-seasalt sectionLargeText border-b-2 border-seasalt"
          >Explore More</a
        >
      </div>
    </div>
  </div>
</section>
