<section>
  <div class="section-padding">
    <div class="text-center">
      <h6 class="text-davygray sectionSecondaryText">Services</h6>
      <h1
        class="my-1 font-semibold font-poppins text-raisinblack max-w-2xl mx-auto"
      >
        Crafting Solutions, Delivering Results
      </h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-10">
      <div class="card-services">
        <div
          class="p-8 bg-night rounded-3xl max-w-lg mx-auto relative z-10 shadow-lg"
        >
          <img
            src="/public/home-service-pattern.png"
            alt=""
            class="right-2 bottom-2 absolute -z-10"
          />
          <img src="/public/home-service (1).png" alt="" class="w-[20%]" />
          <h6 class="font-poppins text-seasalt font-medium mb-2 mt-4">
            Website Deveopment
          </h6>
          <p class="text-accent mb-3 sectionNormalText">
            We build websites that are not only visually stunning but also fully
            functional to support your business success.
          </p>
          <div class="flex items-center text-seasalt gap-2">
            <a href="" class="sectionNormalText peer font-medium">Learn More</a>
            <svg
              width="21"
              height="20"
              class="peer-hover:ml-2 transition-all"
              viewBox="0 0 21 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.36133 15.1387C5.23635 15.0136 5.16614 14.8441 5.16614 14.6673C5.16614 14.4906 5.23635 14.321 5.36133 14.196L14.224 5.33333H8.5C8.32318 5.33333 8.15362 5.2631 8.02859 5.13807C7.90357 5.01305 7.83333 4.84348 7.83333 4.66667C7.83333 4.48986 7.90357 4.32029 8.02859 4.19526C8.15362 4.07024 8.32318 4 8.5 4H15.8333C16.0101 4 16.1797 4.07024 16.3047 4.19526C16.4298 4.32029 16.5 4.48986 16.5 4.66667V12C16.5 12.1768 16.4298 12.3464 16.3047 12.4714C16.1797 12.5964 16.0101 12.6667 15.8333 12.6667C15.6565 12.6667 15.4869 12.5964 15.3619 12.4714C15.2369 12.3464 15.1667 12.1768 15.1667 12V6.276L6.30533 15.1387C6.2434 15.2008 6.16983 15.25 6.08884 15.2836C6.00785 15.3172 5.92102 15.3345 5.83333 15.3345C5.74564 15.3345 5.65881 15.3172 5.57782 15.2836C5.49682 15.25 5.42326 15.2008 5.36133 15.1387Z"
                fill="white"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="card-services">
        <div
          class="p-8 bg-night rounded-3xl max-w-lg mx-auto relative z-10 shadow-lg"
        >
          <img
            src="/public/home-service-pattern.png"
            alt=""
            class="right-2 bottom-2 absolute -z-10"
          />
          <img src="/public/home-service (3).png" alt="" class="w-[20%]" />
          <h6 class="font-poppins text-seasalt font-medium mb-2 mt-4">
            Ui & Ux
          </h6>
          <p class="text-accent mb-3 sectionNormalText">
            We design intuitive, engaging digital experiences, blending art and
            technology for smooth user interactions
          </p>
          <div class="flex items-center text-seasalt gap-2">
            <a href="" class="sectionNormalText peer font-medium">Learn More</a>
            <svg
              width="21"
              height="20"
              class="peer-hover:ml-2 transition-all"
              viewBox="0 0 21 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.36133 15.1387C5.23635 15.0136 5.16614 14.8441 5.16614 14.6673C5.16614 14.4906 5.23635 14.321 5.36133 14.196L14.224 5.33333H8.5C8.32318 5.33333 8.15362 5.2631 8.02859 5.13807C7.90357 5.01305 7.83333 4.84348 7.83333 4.66667C7.83333 4.48986 7.90357 4.32029 8.02859 4.19526C8.15362 4.07024 8.32318 4 8.5 4H15.8333C16.0101 4 16.1797 4.07024 16.3047 4.19526C16.4298 4.32029 16.5 4.48986 16.5 4.66667V12C16.5 12.1768 16.4298 12.3464 16.3047 12.4714C16.1797 12.5964 16.0101 12.6667 15.8333 12.6667C15.6565 12.6667 15.4869 12.5964 15.3619 12.4714C15.2369 12.3464 15.1667 12.1768 15.1667 12V6.276L6.30533 15.1387C6.2434 15.2008 6.16983 15.25 6.08884 15.2836C6.00785 15.3172 5.92102 15.3345 5.83333 15.3345C5.74564 15.3345 5.65881 15.3172 5.57782 15.2836C5.49682 15.25 5.42326 15.2008 5.36133 15.1387Z"
                fill="white"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="card-services">
        <div
          class="p-8 bg-night rounded-3xl max-w-lg mx-auto relative z-10 shadow-lg"
        >
          <img
            src="/public/home-service-pattern.png"
            alt=""
            class="right-2 bottom-2 absolute -z-10"
          />
          <img src="/public/home-service (2).png" alt="" class="w-[20%]" />
          <h6 class="font-poppins text-seasalt font-medium mb-2 mt-4">
            Social Media Management
          </h6>
          <p class="text-accent mb-3 sectionNormalText">
            Maximize your brand's presence with our social media management. We
            grow your audience, boost engagement, and handle everything from
            content to analytics.
          </p>
          <div class="flex items-center text-seasalt gap-2">
            <a href="" class="sectionNormalText peer font-medium">Learn More</a>
            <svg
              width="21"
              height="20"
              class="peer-hover:ml-2 transition-all"
              viewBox="0 0 21 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.36133 15.1387C5.23635 15.0136 5.16614 14.8441 5.16614 14.6673C5.16614 14.4906 5.23635 14.321 5.36133 14.196L14.224 5.33333H8.5C8.32318 5.33333 8.15362 5.2631 8.02859 5.13807C7.90357 5.01305 7.83333 4.84348 7.83333 4.66667C7.83333 4.48986 7.90357 4.32029 8.02859 4.19526C8.15362 4.07024 8.32318 4 8.5 4H15.8333C16.0101 4 16.1797 4.07024 16.3047 4.19526C16.4298 4.32029 16.5 4.48986 16.5 4.66667V12C16.5 12.1768 16.4298 12.3464 16.3047 12.4714C16.1797 12.5964 16.0101 12.6667 15.8333 12.6667C15.6565 12.6667 15.4869 12.5964 15.3619 12.4714C15.2369 12.3464 15.1667 12.1768 15.1667 12V6.276L6.30533 15.1387C6.2434 15.2008 6.16983 15.25 6.08884 15.2836C6.00785 15.3172 5.92102 15.3345 5.83333 15.3345C5.74564 15.3345 5.65881 15.3172 5.57782 15.2836C5.49682 15.25 5.42326 15.2008 5.36133 15.1387Z"
                fill="white"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
