---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="bg-night">
        <footer class="section-padding">
            <div class="block">
                <div class="relative section-padding-x">
                    <img src="/exp_white.png" class="w-[120px] max-w-sm m-auto" alt="">
                </div>
                <div class="flex items-center gap-4 text-silver">
                    <a href="">
                        <p></p>
                    </a>

                    <a href="">
                        <p></p>
                    </a>

                    <a href="">
                        <p></p>
                    </a>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>