<section>
  <div
  class="hero h-[70vh] relative"
  style="background-image: url('/public/work-hero.png');">
    <div class="section-padding relative z-10   ">
      <div class="text-center max-w-5xl mx-auto">
          <h1 class="font-poppins mb-2 heroHeadText2 font-normal text-seasalt tracking-[-2px]  ">Innovation in Every Project</h1>
            <p class="text-silver  font-normal sectionLargeText ">Our works reflect our passion for innovation and quality.</p>
          </div>
        </div>
      </div>
</section>